page-create-label {
    .toolbar-background-md {
        border-color:#5f7c8a;
    background: #5f7c8a;
    }
    .rotate{
        transform: rotate(45deg);
        zoom: 1.2;
      color:white;
    }
    .rotate1{
        transform: rotate(45deg);
        zoom: 1.2;
        color:white;
    }
    .toolbar-background-ios{         
        border-color:#5f7c8a;
        background: #5f7c8a;
    
    }
    
}
