page-notes {
    .toolbar-background-md {
        border-color:#f5b400;
    background: #f5b400;
}
.toolbar-background-ios{    border-color:#f5b400;
    background: #f5b400;

}
.notesContainer{
    column-count: 2;
}
.cardsLayout
 { 
   display: inline-block;
   margin-top: 0px;
 
   margin-left:1px;
 
 width: 100%;

 }
}
