page-archive {
    .toolbar-background-md {
        border-color:#5f7c8a;
    background: #5f7c8a;
}
.toolbar-background-ios{         
    border-color:#5f7c8a;
    background: #5f7c8a;

}

.notesContainer{
    column-count: 2;
}
.cardsLayout
 { 
   display: inline-block;
   margin-top: 0px;
 
   margin-left:1px;
 
 width: 100%;

 }

}
