page-takenote {
    element.style {
        top: 74.9231px;
        left: 175px;
        transform-origin: right top 0px;
        transform: scale(1);
        transition-delay: initial;
        transition-property: none;
    }
    
.rotate{
    transform: rotate(180deg);

}
}
