page-search {
    .notesContainer{
        column-count: 2;
    }
    .cardsLayout
     { 
       display: inline-block;
       margin-top: 0px;
     
       margin-left:1px;
     
     width: 100%;
    
     }

}
