page-delete {
    
        .toolbar-background-md {
            border-color:#9e8f8f;
        background:#9e8f8f;
    
   
}
.toolbar-background-ios{         
    border-color:#9e8f8f;
        background:#9e8f8f;

}
}